body,table tr td{
	font-size: 12px;
}
body {
	margin:10px 0 0 0;
	padding:0;
	font-size:12px;
	font-family: 微软雅黑;
	background:#fff;
}

#title {
	font-size:20px;
	margin:10px;
	padding:0;
	color:#abcdef;
	height:20px;
	line-height:20px;
	padding:0 10px;
	float:left;
}

.header_search {
	padding:6px 0 0 0;
	float:left;
} 
.header_search .search {
	width:170px;
	height:24px;
	border:1px solid #ccc;
	background:#fff;
	color:#666;
	font-size:14px;
	text-indent:5px;
}
.header_button {
	padding:7px;
	float:left;
}

.dropdown a.dropdown-toggle {
	cursor:pointer
}
.bg {
	background-color:#F5F5F5
}
.numberic_red {
	color:#DD0000
}
.navbar {
	margin-bottom:0px;
	border:none;
}
.navbar-inner {
	background-image:none;
	background-color:#DD4250;
}
.navbar .nav > li > a, .navbar .brand {
	color:#FFF;
	font-size:14px;
	text-shadow:none;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
	background-color:#ED5466;
	color:#FFFFFF
}
.navbar .nav {
	margin-left:100px;
}
.well {
	background-color:#FFFBEA;
	border: 1px solid #FFFBEA;
	color:#974C19;
	margin-top: 30px;
    padding: 10px;
}
.nav .nav-header {
	font-size:14px;
}


/************************注册框**********************/
#reg_form{
	margin:100px;
}
#reg_form .btn-primary {
	background-image:none;
	background-color:#EF494D;
}
/**********************************************/


/************************登录框**********************/
#login_form{
	margin:100px;
}
#login_form a {
	display:inline;
	margin-left:30px;
}
/**********************************************/
.total_price{
	padding:10px;
}
.total_price .rmb{
	font-size:40px;
	color:#F84858;
}
/*****************jquery验证登录*******************/
.state1 {
	color: #468847;
}

.state2 {
	color: #000;
}

.state3 {
	color: red;
}

.state4 {
	color: green;
}
/*************************分页样式*********************************/
.pagination{
	margin:0px;
	float:right;
}
.summary{
	line-height: 40px;
	margin-right: 10px;
	display: block;
	float: right;
}

li.active > a:hover {
    background-color: blue;
    border-color: #0080ff;
    color: #8080ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}